
<h3>Create a Home Project</h3>
<form action="/projects" method="post">
    <label for="job">New Project:</label>
    <input type="text" name="job" id="job">
    <label for="budget">Budget:</label>
    <input type="number" name="budget">
    <input type="submit" value="Create">
</form>